body
{
    background-color: lightgrey;
}

#container
{
    display: flex;
    flex-direction: column;
}
/* utseendet på kortet */
  .kort 
  {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    width: 400px;
    height: 200px;
  }
  
  .kort h1 
  {
    text-align: center;
    margin-bottom: 20px;
  }
/* bildet som blir lastet opp av bruker blir redigert slik at det passer på kortet */
  .kort img 
  {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid black;
    float: right;
  }


  
